<!-- start hero -->
<div class="homepage_hero hero_cont">
     <h4> Our mission? To create a place that not only helps girls build their future, but teach them how to contribute back to their own communities and provide a space where they feel appreciated and safe.</h4>
     <!-- h4 class="col_white" -->
</div>
<!-- end hero -->

<!-- cusdXvam start-->
<h3 class="text-center" style="margin-top:5%">A design-build project by </h3>
<div class="row">
  <ul class="large-block-grid-3 small-block-grid-3 side_fix">
    <li>
       <div class="right" style="text-align:center">
        <%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
        <h3> Cornell University<br> Sustainable Design </h3>
      </div> 
    </li>
    <li>
       <h1 class="text-center" style="padding-top:5px; font-weight:00;"> X </h1>
    </li>
    <li>
       <div class="left" style="text-align:center">
        <%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
        <h3> Voices of African Mothers </h3>
      </div> 
    </li>
  </ul>
</div>
<!-- end cusdXvam -->

<!-- start landscape art photo -->
<!-- <div class="archi_hero"></div> -->
<!-- end landscape art photo thing -->

<!-- start stats piece -->
 <div class="row">
  <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1" style="margin: 35p -10%;">
    <li>
      <div id="tagger_1" class="text-center sml_fix_right">
        <h1 class="big_txt"> 500 </h1>
        <h3 class="thin_txt"> Students </h3>
      </div>
    </li>
    <li class="text-center">
      <h1 class="big_txt"> 2 </h1>
      <h3 class="thin_txt"> Energy models </h3>
    </li>
    <li>
      <div id="tagger_2" class="text-center sml_fix_left">
         <h1 class="big_txt"> 200 </h1>
         <h3 class="thin_txt"> Acres </h3>
      </div>
    </li>
  </ul>
</div>
<!-- end stats piece -->
<!-- about section -->
<div class="row fullWidth grey_back">
	<div class="backer grey_back">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="font-weight: bold"> About </h1>
		</div>
	</div>
</div>
<!-- purpose section -->
<div class="row fullWidth">
	<div class="backer">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="color: blue"> Purpose </h1>
			<p> Empowering people to make a sustainable impact within their own community. <p>
		</div>
	</div>
</div>
<!-- Mission section -->
<div class="row fullWidth">
	<div class="backer">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="color: blue"> Mission </h1>
			<p> Challenge students to create dynamic and innovative solutions for economic, social, and ecological difficulties faced by the global community. <p>
		</div>
	</div>
</div>

<!-- Vision section -->
<div class="row fullWidth">
	<div class="backer">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="color: blue"> Vision </h1>
			<p> At CUSD we aim to provide a community in which Cornell students can develop their skills, professionally engage with the real world, and contribute to the development of communities internationally. Our organization is a diverse family of students with one common goal- to impact the global community through holistic sustainability. Through collaboration we create innovative ways to integrate technology and sustainability into community projects in a way that engages the surrounding community. <p>
		</div>
	</div>
</div>

<!-- TODO: teams section here -->
<h1> Teams going here </h1>

<!-- end teams -->
<!-- Majors section -->
 <div class="row">
  <ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-1" style="margin: 35px;">
    <li>
      <div id="tagger_1" class="text-center sml_fix_right">
        <h1 class="big_txt"> 8 </h1>
        <h3 class="thin_txt"> Architects </h3>
      </div>
    </li>
    <li class="text-center">
      <h1 class="big_txt"> 5 </h1>
      <h3 class="thin_txt"> Structural Analyists </h3>
    </li>
    <li>
      <div id="tagger_2" class="text-center">
         <h1 class="big_txt"> 3 </h1>
         <h3 class="thin_txt"> Engineers </h3>
      </div>
    </li>
     <li>
      <div class="text-center sml_fix_left">
         <h1 class="big_txt"> 6 </h1>
         <h3 class="thin_txt"> Designers </h3>
      </div>
    </li>
  </ul>
</div>
<!-- end majors -->
<!-- Design process -->
<div class="row fullWidth grey_back">
	<div class="backer grey_back">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="font-weight: bold"> Design Process </h1>
		</div>
	</div>
</div>
<!-- 2015 -->
<div class="row fullWidth">
	<div class="backer">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="color: blue"> 2015 </h1>
		</div>
	</div>
</div>
<br><br>
<!-- Timelineish start -->
<div class="row">
	<div class=" large-9 large-centered small-12 small-centered columns">
		<h3 style="text-align:center"> First Connection with Voices of African Mothers</h3><br>
	     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="large-block-grid-3">
		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>
	</div>
</div>
<br><br>
<div class="row">
	<div class=" large-9 large-centered small-12 small-centered columns">
		<h3 style="text-align:center"> Site Analysis</h3><br>
	     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur </p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="large-block-grid-3">
		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>
	</div>
</div>
<br><br>
<div class="row">
	<div class=" large-9 large-centered small-12 small-centered columns">
		<h3 style="text-align:center"> Architecture</h3><br>
	     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur </p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="large-block-grid-3">
		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>
	</div>
</div>
<br><br>
<div class="row">
	<div class=" large-9 large-centered small-12 small-centered columns">
	     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur </p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="large-block-grid-3">
		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>
	</div>
</div>
<div class="row fullWidth">
	<div class="backer">
		<div class="large-offset-2 large-8 columns ">
			<h1 style="color: blue"> 2016 </h1>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class=" large-9 large-centered small-12 small-centered columns">
		<h3 style="text-align:center"> Fundraising</h3><br>
	     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur </p>
	</div>
</div>
<br><br>
<div class="row">
	<div class="large-block-grid-2">
		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>

		<li>
			<%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
		</li>
	</div>
</div>






<!-- carousel start -->
<div class="row text-center caro_spacer">
  <ul class="large-block-grid-6 medium-block-grid-3 small-block-grid-2 even-6">
    <a class="fancybox pic spacer" rel="group"  title="corgi duh" href="img/hero.jpg"><img class="img_min" src="img/hero.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/cusdLogo.jpg"><img class="img_min" src="img/cusdLogo.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_3.jpg"><img class="img_min" src="img/caro_3.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_4.jpg"><img class="img_min" src="img/caro_4.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_5.jpg"><img class="img_min" src="img/caro_5.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_6.png"><img class="img_min" src="img/caro_6.png" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_7.jpg"><img class="img_min" src="img/caro_7.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_8.jpg"><img class="img_min" src="img/caro_8.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_9.jpg"><img class="img_min" src="img/caro_9.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_10.png"><img class="img_min" src="img/caro_10.png" alt="" /></a>
  </ul>
</div>
